.header {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0.5rem;
  min-height: 60px;
  background-color: var(--clr-nav);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.logo {
  font-size: 2rem;
  color: var(--clr-primary);
  cursor: pointer;
  font-weight: 300;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar a {
  font-size: 1rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  color: var(--clr-primary);
  transition: 0.1s linear;
}

.navbar a.active {
  border-radius: var(--border-radius);
  border: 2px solid var(--clr-primary);
}

.navbar a:hover {
  transform: scale(1.1);
}

.wallet {
  background: none;
  color: var(--clr-primary);
  font-size: 1.1rem;
  line-height: 0;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 0.5rem;
  }

  .navbar a {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 460px) {
  .logo {
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
  }
}
