.container {
  position: relative;
}

.welcome {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 60px;
  width: 600px;
  color: var(--clr-nav-hover);
  text-align: center;
  background-color: var(--clr-bg);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.require_connect {
  position: absolute;
  left: 100px;
  bottom: 200px;
  width: 50%;
  max-width: 700px;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: rgba(255,255,255,0.85);
}

.require_connect h2 {
  margin-bottom: 0.5rem;
}

.hero {
  margin-top: 2rem;
  width: 100%;
  object-fit: cover;
}

.disclaimer {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.25rem;
}